<!DOCTYPE html>
<html>
  <head>

    <title>Eat Da Burger!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>

  <body>

    <div class="container-fluid">
    <center>
      <div class="row">
    <div class="jumbotron" style="background-color: skyblue;">
    <h1>Time to Eat Some Burgers!</h1>      
    <p>Devour all the burgers! <br> 
    or <br>
    Cook up your own burger!!</p>    

    </center>

      <br>
      
      {{{body}}}

      <br><br>

      <form action="burger/create" method="POST"> 
        
        <div class="row">

          <div class="col-md-3"></div> 

          <div class="form-group col-md-6">
            <center><label for="new_burger" class="submitFont">Burger Maker 9000!</label></center>
            <textarea class="form-control" type="text" columns="6" rows="2" id="new_burger required value="" name="burger_name"></textarea>
          </div>
         
          <div class="col-md-3"></div> 
        </div>
      
        <center>
          <button id="submit-button" type="submit" class="btn btn-success">Cook it up!</button>
        </center>
      </form>
      <br>
    </div>
  </body>